
@{
    ViewBag.Title = "adminstrar";
    Layout = "~/Views/Shared/_LayoutAdministrar.cshtml";
}

<div class="row">
    <h5 class="center-align">Panel de administración</h5>
</div>

<div class="row">
    <p>Desde este panel podrá gestionar las sedes y peliculas del complejo de cines.</p>
    <p>Desde el menu superior podrá acceder a todas las funcionalidades administrativas.</p>
</div>



