@model IEnumerable<proyecto.Cine.Logica.Modelo.Cartelera>
@{
    ViewBag.Title = "ReservarPelicula";
    Layout = "~/Views/Shared/_LayoutAdministrar.cshtml";
}

<h2>Reservar ON-LINE - Reserva: </h2>

<h5>Su reserva ha sido realizada!</h5>
