@model IEnumerable<proyecto.Cine.Logica.Modelo.Pelicula>
@{
    ViewBag.Title = "Index";
}

<h2><center>Bienvenidos a</h2>
<h3><center>Cine UNLaM</h3>

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">En Cartelera</a></li>
          <li><a data-toggle="tab" href="#menu1">Estrenos</a></li>
        </ul>

        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <h3>En Cartelera</h3>
            <select class="form-control" id="sel1">
                <option>Seleccioná una sede</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <hr>
            
            <br />
            @foreach (var p in Model)
            {
                <li class="tab"><a class="active blue-text text-darken-2" href="/Peliculas/Pelicula/@Html.DisplayFor(modelS => p.IdPelicula)"> @Html.DisplayFor(modelS => p.Nombre) <label> </li>
            }                                
            <br />
            
            <div class="row">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/w3images/lights.jpg">
                    <img src="/imagenes/guardianes.jpg" alt="Lights" style="width:70%">
                    <div class="caption">
                      <p>Lorem ipsum...</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/w3images/nature.jpg">
                    <img src="/imagenes/rey arturo.jpg" alt="Nature" style="width:70%">
                    <div class="caption">
                      <p>Lorem ipsum...</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/w3images/fjords.jpg">
                    <img src="/imagenes/oz.jpg" alt="Fjords" style="width:70%">
                    <div class="caption">
                      <p>Lorem ipsum...</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/w3images/lights.jpg">
                    <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
                    <div class="caption">
                      <p>Lorem ipsum...</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/w3images/nature.jpg">
                    <img src="/w3images/nature.jpg" alt="Nature" style="width:100%">
                    <div class="caption">
                      <p>Lorem ipsum...</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/w3images/fjords.jpg">
                    <img src="/w3images/fjords.jpg" alt="Fjords" style="width:100%">
                    <div class="caption">
                      <p>Lorem ipsum...</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div id="menu1" class="tab-pane fade">
            <h3>Estrenos</h3>
            <select class="form-control" id="sel1">
                <option>Seleccioná una sede</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <hr>
            <div class="row">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/w3images/lights.jpg">
                    <img src="/imagenes/guardianes.jpg" alt="Lights" style="width:70%">
                    <div class="caption">
                      <p>Lorem ipsum...</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/w3images/nature.jpg">
                    <img src="/imagenes/rey arturo.jpg" alt="Nature" style="width:70%">
                    <div class="caption">
                      <p>Lorem ipsum...</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/w3images/fjords.jpg">
                    <img src="/imagenes/oz.jpg" alt="Fjords" style="width:70%">
                    <div class="caption">
                      <p>Lorem ipsum...</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/w3images/lights.jpg">
                    <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
                    <div class="caption">
                      <p>Lorem ipsum...</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/w3images/nature.jpg">
                    <img src="/w3images/nature.jpg" alt="Nature" style="width:100%">
                    <div class="caption">
                      <p>Lorem ipsum...</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/w3images/fjords.jpg">
                    <img src="/w3images/fjords.jpg" alt="Fjords" style="width:100%">
                    <div class="caption">
                      <p>Lorem ipsum...</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
          
<a href="/Usuario/login"> Agregar Usuario</a>